*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-fontcolor:#23262F;
    --primarymatncolor:#777E90;
    --primarymatnfamliy:"Poppins", sans-serif;
    --primary-sarlavha-family: "DM Sans", sans-serif;
}

body{
    background-color: #FCFCFD;
    max-width: 768px;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: var(--primarymatnfamliy);
}

.header-right{
    width: 50%;
    color: #777E90;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-right-img{
    max-width: 40px;
    width: 100%;
}

.header-left{
    width: 35%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0rem;
}

.logo{
    width: 100%;
}

.main-sarlavha{
    line-height: 64px;
    letter-spacing: -2%;
    color: #23262F;
    font-weight: 700;
    font-size: 4rem
}

.general-matn{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 32px;
}
.hero-p{
    color: #23262F;
}
.btn{
    color: #FCFCFD;
    padding: 16px 24px;
    background-color: #3B71FE;
    border-radius: 90px;
    font-weight: 700;
    width: 100%;
}

button{
    border-color: transparent;
}

.hero{
    background-image: url(./assets/backgroundimages/pexels-leah-kelley-3935702\ \(1\)\ 1.png);
    max-width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3rem 1.5rem;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    font-family: var(--primary-sarlavha-family);
}

.main-sarlavha, .general-matn{
    text-align: center;
}



.wrapper-round{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid #23262F;
    border-radius: 50%;
}


.top-left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: left;
}

.destinations-top{
    margin-bottom: 2rem;
}

.second-sarlavha{
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-fontcolor);
    letter-spacing: -1%;
}

.matn{
    font-size: 1rem;
    line-height: 24px;
    color: #777E90;
    font-family: var(--primarymatnfamliy);
}

.card-img{
    width: 100%;
    border-radius: 24px;
    /* position: relative; */
}


.card-btn{
    font-size: 12px;
    color: #FCFCFD;
    padding: 8px 12px;
    background-color: #23262F;
    border-radius: 32px;
    text-transform: uppercase;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 2;
}


.card-header{
    min-width: 270px;
    height: auto;
    position: relative;
}

.h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: #23262F;
}
.card-matn{
    font-size: 12px;
    font-weight: 400;
    color: #777E90;
    line-height: 20px;
}
.wrapper-card-sarlavha{
    margin-top: 1rem;
}

.wrapper-cards{
    display: flex;
    align-items: center;
    gap: 2rem;
    overflow-x: auto;
}

.wrapper-cards::-webkit-scrollbar{
    display: none;
}

.top-right{
    width: 20%;
    display: flex;
    gap: 10px;
}

.wrapper-array{
    display: flex;
    gap: 10px;
    color: #777E90;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.wrapper-r{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid #777E90;
    border-radius: 50%;
}
.tugma{
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--primary-sarlavha-family);
    display: flex;
    align-items: center;
    gap: 8px;
    color: #23262F;
    padding: 1rem 1.5rem;
    background-color: transparent;
    border-radius: 90px;
    border-color: transparent;
    border: 2px solid #E6E8EC;
}

.rent-matn{
    font-size: 12px;
    font-family: var(--primarymatnfamliy);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 12px;
    color: #777E90;
}

.rent-left .second-sarlavha{
    font-size: 3rem;
    font-family: var(--primary-sarlavha-family);
    line-height: 56px;
    font-weight: 700;
    letter-spacing: -2%;
    color: #23262F;
}

.rent-left .matn{
    font-size: 1rem;
}
.rent-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input{
    padding: 14px 60px 14px 16px;
    border-radius: 90px;
    border: none;
    border: 2px solid #E6E8EC;
    outline: none;
    background-image: url(./assets/backgroundimages/small\ circle\ button.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: right center;
    /* background-size: ; */
    width: 100%;
}
.input::placeholder{
    color: #777E90;
}


.rent{
    margin-top: 4rem;
}

.rent-img{
    width: 100%;
}

.rent{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.wrapper-explore-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.wrapper-explore-top .top-left{
    width: 40%;
    .second-sarlavha{
        font-size: 40px;
        line-height: 48px;
    }
    .top-left{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}
.wrapper-explore-top .wrapper-array{
    width: 30%;
    margin-top: 0;
    margin-bottom: 0;
}

.explore{
    margin-top: 4rem;
}

.wrapper-car{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
}

.bt{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.services .rent-left{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    h2{
        font-size: 2rem;
    }
    p{
        text-align: center;
    }
}

.services{
    margin-top: 4rem;
    margin-bottom: 4rem;
    .wrapper-cards{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow-x: none;
        margin-top: 2rem;
    }
}

.card-gray{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #F4F5F6;
    padding: 4rem 2rem;
    border-radius: 20px;
    width: 100%;
    box-shadow: 2px 3px 10px lightgray;
    svg{
        margin-bottom: 1rem;
    }
    .mini-card-sarlavha{
        font-size: 1em;
        font-weight: 500;
    }
    .matn{
        font-size: 14px;
        line-height: 24px;
        max-width: 293px;
    }
    
}



.question-left{
    display: flex;
    gap: 2rem;
    align-items: center;
}


.faq-matn, option{
    font-size: 1rem;
    color:#23262F;
    line-height: 24px;
    font-weight: 500;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question{
    padding-bottom: 1rem;
    border-bottom: 2px solid #E6E8EC;
}

.answer{
    font-size: 1rem;
    color: #23262F;
    line-height: 24px;
    font-weight: 500;
    display: none;
}

.show{
    display: block;
    border-bottom: 2px solid #E6E8EC;
    text-align: left;
}
.wrapper-faq{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.border{
    border-bottom: none;
}

.answer:last-child{
    border-bottom: none;
}
.question:last-child{
    border-bottom: none;
}


select{
    width: 100%;
    padding: 12px;
    border-color: transparent;
    border: 2px solid #E6E8EC;
    border-radius: 12px;
    background-color: transparent;
    outline: none;
    margin-bottom: 2rem;
}

.sarlav{
    font-size: 3rem;
    line-height: 56px;
    text-align: center;
    margin-bottom: 3rem;
}

.pick-up h2{
    font-size: 40px;
    margin-bottom: 1rem;
    text-align: center;
}
.pick-up .matn{
    text-align: center;
}

.tug{
    padding: 8px 12px;
    border-radius: 32px;
    background-color: #E6E8EC;
    color: #23262F;
    border-color: transparent;
    font-size: 12px;
    font-weight: 700;
}
.h4{
    font-size: 1rem;
    font-weight: 500;
}
.p{
    font-size: 12px;
    color: #777E90;
    margin-top: 4px;
}
.card-1{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 5rem 2rem 2rem;
    border: 2px solid #F4F5F6;
    border-radius: 24px;
    min-width: 256px;
    
}
.card-1 svg{
    margin-top: 3rem;
}

.pick-up{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.pick-up .wrapper-cards{
    margin-top: 2rem;
}

.pick-up .wrapper-array{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    border-top: 2px solid #FCFCFD;
}

.wrap-logo{
    max-width: 94px;
}
.wrap-logo img{
    width: 100%;
}


ul li{
    list-style: none;
}
.footer-link{
    text-decoration: none;
    color: #777E90;
    font-size: 14px;
    font-weight: 700;
    font-family: var(--primary-sarlavha-family);
}

.footer-input{
    background-color: transparent;
    border: none;
    outline: none;
    color: #777E90;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--primarymatnfamliy);
}
.footer-input::placeholder{
    color: #777E90;
}

.wra{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3B71FE;
    border-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 50%;
}
.wrapper-form{
    display: flex;
    justify-content: space-between;
    border: 2px solid #E6E8EC;
    border-radius: 90px;
    padding: 5px 5px 5px 15px;
}

.salom{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}
li{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}


.lastli{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 100%;
}
ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* gap: 2rem; */
}

.made-by{
    font-size: 12px;
    color: #777E90;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.made-by span{
    color: #3B71FE;
}

a{
    cursor: pointer;
}

.header-left select{
    display: none;
}

.top-right{
    display: none;
}

.rent-img{
    display: block;
}

@media (min-width: 768px){
    body{
        max-width: 1250px;
        margin-right: auto;
        margin-left: auto;
    }
    .logo{
        max-width: 106px;
        border-right: 2px solid #777E90;
        padding-right: 2rem;
    }
    .header-left{
        display: flex;
        gap: 2rem;
        align-items: center;
        max-width: 300px;
    }
    .header-left select{
        border: none;
        background-color: transparent;
        margin-bottom: 0;
        font-size: 14px;
        color: #777E90;
        font-weight: 700;
        display: block;
    }
    .main-sarlavha{
        font-size: 4rem;
    }
    .general-matn{
        font-size: 2rem;
    }
    .hero{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        background-image: url(./assets/backgroundimages/pexels-leah-kelley-3935702\ \(1\)\ 1\ \(1\).png);
        height: 90vh;
    }
    .destinations{
        margin-top: 8rem;
    }
    .destinations-top{
        display: flex;
        justify-content: space-between;
        /* flex-direction: row; */
        align-items: center;
        margin-bottom: 3rem;
    }
    .top-right{
        display: flex;
        width: auto;
    }
    .card-header{
        min-width: 320px;
        /* min-height: 337px; */
    }
    .wrapper-cards{
        max-width: 1250px;
        margin-left: auto;
        margin-right: 0;
    }
    .rent-left{
        width: 42%;
    }
    .rent-right{
        width: 48%;
    }
    .rent-right img{
        width: 100%;
    }
    .rent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #phone{
        max-width: 300px;
        width: 100%;
    }

    .rent-img{
        display: block;
    }

    
    .wrapper-car .card-header{
        width: 30%;
        margin-top: 2rem;
    }
    .explore .wrapper-car{
        display: flex;
        flex-wrap: wrap;
    }

   .services .card-gray{
        min-width: 357px;
    }
    .sec .wrapper-cards{
        display: flex;
        overflow-x: auto;
        flex-direction: row;
    }
    .services .wrapper-cards::-webkit-scrollbar{
        display: none;
    }
}